TESTING = False
DEBUG = False
STATIC_FOLDER = "/app/callaborate/static/"
TEMPLATE_FOLDER = "/app/callaborate/templates/"
BIND_HOST = "0.0.0.0"
BIND_PORT = 5000
SECRET_KEY = "CHANGE-ME"
LOG_FILE = "/app/config/log/callaborate.log"

TIMEZONE_UTC_OFFSET = -7
CALL_TIME_START = 0
CALL_TIME_END = 24
TEST_CALLEE = "555-555-5555"
TROPO_VOICE_API_KEY = ""
TEST_CALL_FROM = "555-555-5555"
TEST_CALL_TO = "555-555-5555"
CALL_FORM_FIELDS = {
    "callInfo": {
        "call_status": {
            "label": "Call Status",
            "description": "",
            "type": "radio",
            "column_name": "call_status",
            "options": [
                "Answered",
                "Voicemail/No Answer",
                "Do Not Call",
                "Wrong Number/Disconnected"
            ]
        },
        "support": {
            "label": "Support Level",
            "description": "",
            "type": "radio",
            "column_name": "support",
            "options": [
                "Yes",
                "No"
            ]
        },
        "contact_legislator": {
            "label": "Contact Legislator",
            "description": "",
            "type": "radio",
            "column_name": "contact_legislator",
            "options": [
                "Yes",
                "No"
            ]
        },
        "comments": {
            "label": "Call Comments",
            "description": "",
            "type": "textarea",
            "column_name": "comments",
            "options": []
        }
    },
    "caller": {
        "emailAddress": {"column_name": "agent_email"},
        "firstName": {"column_name": "agent_first_name"},
        "lastName": {"column_name": "agent_last_name"},
        "phoneNumber": {"column_name": "agent_phone"},
        "zipCode": {"column_name": "support"}
    },
    "timestamp": {
        "timestamp": {"column_name": "timestamp"}
    }
}
CALL_SCRIPT = "<a href='https://docs.google.com/document/d/xxxxxxxxx/edit?usp=sharing' target='_blank'>Click here for call script</a>"
CALL_TO_ACTION = "<h2>Let's Dial for Democracy!</h2>" \
                 "<p>Help us call every undecided voter to enlist their help.</p>"
FOOTER = "Copyright Political Action Committee"
SOCIAL = ""
TITLE = "Political Action Committee Dailer"
CONTACT_EMAIL = "info@political-action-committee.not-a-domain"
AGENT_SUPPORT_INFO = "Come <a target=\"_blank\" href=\"https://political-action-committee-chat@slack.com\">" \
                     "join the callers&rsquo; live chat!</a><br/>" \
                     "You can also send feedback to <a href=\"info@political-action-committee.not-a-domain\">" \
                     "info@political-action-committee.not-a-domain</a>"
LOGO = "<img src='images/logo-9.svg' alt='Politial Action Committee Logo' />"
ORGANIZATION_NAME = "Political Action Committee"
SPREADSHEET_ID = ""
GOOGLE_KEY_FILE_DICT = {
  "type": "service_account",
  "project_id": "",
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "",
  "token_uri": "",
  "auth_provider_x509_cert_url": "",
  "client_x509_cert_url": ""
}