TESTING = False
DEBUG = False
STATIC_FOLDER = "/app/config/static/"
TEMPLATE_FOLDER = "/app/config/templates/"
BIND_HOST = "0.0.0.0"
BIND_PORT = 5000
SECRET_KEY = "CHANGE-ME"

TIMEZONE_UTC_OFFSET = -7
CALL_TIME_START = 0
CALL_TIME_END = 24
TEST_CALLEE = "555-555-5555"
TROPO_VOICE_API_KEY = ""
TEST_CALL_FROM = "555-555-5555"
TEST_CALL_TO = "555-555-5555"
CALL_FORM_FIELDS = {
    "callInfo": {
        "call_status": {
            "label": "Call Status",
            "description": "",
            "type": "radio",
            "column_name": "call_status",
            "options": [
                "Answered",
                "Voicemail/No Answer",
                "Do Not Call",
                "Wrong Number/Disconnected"
            ]
        },
        "support": {
            "label": "Support Level",
            "description": "",
            "type": "radio",
            "column_name": "support",
            "options": [
                "Yes",
                "No"
            ]
        },
        "contact_legislator": {
            "label": "Contact Legislator",
            "description": "",
            "type": "radio",
            "column_name": "contact_legislator",
            "options": [
                "Yes",
                "No"
            ]
        },
        "comments": {
            "label": "Call Comments",
            "description": "",
            "type": "textarea",
            "column_name": "comments",
            "options": []
        }
    },
    "caller": {
        "emailAddress": {"column_name": "agent_email"},
        "firstName": {"column_name": "agent_first_name"},
        "lastName": {"column_name": "agent_last_name"},
        "phoneNumber": {"column_name": "agent_phone"},
        "zipCode": {"column_name": "support"}
    }

}
CALL_SCRIPT = "<a href='https://docs.google.com/document/d/xxxxxxxxx/edit?usp=sharing' target='_blank'>Click here for call script</a>"
SPREADSHEET_ID = ""
GOOGLE_APP_ID = ""
GOOGLE_APP_SECRET = ""
GOOGLE_KEY_FILE_DICT = {
  "type": "service_account",
  "project_id": "",
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "",
  "token_uri": "",
  "auth_provider_x509_cert_url": "",
  "client_x509_cert_url": ""
}